<div class="wrapper">
  <%= render "common/header" %>
  <input type="hidden" id="spot_id" value="<%= @spot_id %>">
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header ">
              <strong>スポット詳細情報</strong>
            </div>
            <div class="box-body">
              <div class="clearfix">
                <h4 id="spot_name" style="margin-top: 0">北海道三菱自動車販売(株) 南店</h4>
              </div>
              <div class="clearfix detail_icon" style="padding-bottom: 10px;"></div>
              <div class="col-xs-12">
                <div class="row" style="padding-bottom: 5px;">
                  <i class="fa fa-fw fa-users"></i><span id="busy_time">【混雑時間帯】 </span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <i class="fa fa-fw fa-plug"></i><span id="spot_type"> 【電源種別】 </span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <i class="fa fa-fw fa-random"></i><span id="target_service"> 【対象サービス】 </span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <i class="fa fa-fw fa-phone"></i><span id="spot_tel">【電話】011-531-5181   </span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <i class="fa fa-fw fa-map-marker"></i><span id="spot_address">【住所】北海道札幌市中央区南十条西10-1-15   </span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <i class="glyphicon glyphicon-time fa-fw"></i><span id="spot_time">【営業時間】平日:24時間営業, 土:null, 日:null</span>
                </div>
                <div class="row" style="padding-bottom: 5px;">
                  <a href="/coupon?spot_id=<%= @spot_id %>" class="btn btn-primary" <% if @coupon == 0 %>disabled="disabled" style="pointer-events: none;"<% end %> >クーポン</a>
                  <button class="btn btn-success destination_set" id="destination">ここへ行く</button>
                  <a class="btn btn-warning" id="reservation" data-toggle="modal" data-target="#reservationModal" role="button">予約</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "common/modal_reservation" %>
<%= render "common/reservation_ok" %>

<script>
  var iconToilet = '<%= asset_path "toilet.png" %>';
  var iconSmokingArea = '<%= asset_path "smoking_area.png" %>';
  var iconRapidCharge = '<%= asset_path "rapid_charge.png" %>';
  var iconNormalCharge = '<%= asset_path "normal_charge.png" %>';
  var iconCafe = '<%= asset_path "cafe.png" %>';
  var iconRestaurant = '<%= asset_path "restaurant.png" %>';
  var iconShopping = '<%= asset_path "shopping.png" %>';
  var iconPlaySpace = '<%= asset_path "play_space.png" %>';
  var iconNursingRoom = '<%= asset_path "nursing_room.png" %>';
  var iconSightseeing = '<%= asset_path "sightseeing.png" %>';
</script>

<%= javascript_include_tag "spot_detail"%>
