<div class="wrapper">
  <%= render "common/header" %>
  <input type="hidden" class="spot_id" value="<%= @spot_id %>">
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <% if @spot_info.present? %>
              <div class="box-header"><strong>
                <a href="/spot_detail?spot_id=<%=@spot_info[0][:id] %>" style="color: #00c0ef;">
                  <%= @spot_info[0][:name] %>
                </a>
              のクーポン情報</strong></div>
            <% end %>
            <div class="box-body coupon_list_area" style="overflow-y: scroll;">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var iconCoupon = '<%= asset_path "coupon.png" %>';
</script>
<%= javascript_include_tag "coupon"%>