<div class="content" style="width: 100%;">
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <h2 class="box-title">充電中...</h2>
      </div>
      <div class="box-body">
        <h3 id="charging_time" class="text-center"></h3>
        <div class="text-center">
          <img id="charge_icon" src='<%= asset_path 'charging.gif' %>' alt="充電中...">
        </div>
      </div>
      <div class="box-footer">
        <button type="button" id="stop_charging" class="btn btn-block btn-success" data-toggle="modal" data-target="#confirmModal" data-backdrop="true">
          充電をやめる
        </button>
        <a id="spot_info" class="btn btn-block btn-info" href="/map?spotinfo_zoom=true">スポット情報</a>
        <a href="<%= passtime_path %>" class="btn btn-block btn-primary">
          <i class="fa fa-plug"></i> ひまつぶし
        </a>
        <%= javascript_tag do %>
          var spot_id = <%= session[:charge_spot_id] %>;
          var charge_complete_img_path = "<%= asset_path 'charge_complete.gif' %>";
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "modal" %>