<div class="wrapper">
  <%= render "common/header" %>
  <%= render "supplier/sidemenu" %>
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-body supplier_list_area">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var fire_electric = '<%= asset_path "fire_electric.jpg" %>';
  var sun_electric = '<%= asset_path "sun_electric.jpg" %>';
  var other_electric = '<%= asset_path "other_electric.png" %>';
  var nge48 = '<%= asset_path "nge48.png" %>';
  var chubu = '<%= asset_path "chubu.png" %>';
</script>

<%= javascript_include_tag "supplier"%>