<div class="wrapper">
  <%= render "common/header" %>
  <%= render "supplier/sidemenu" %>
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xs-12" style="margin: 0px;">
          <div class="box box-info" style="margin: 0px;">
            <div class="box-body supplier_list_area" style="overflow-y: scroll;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var fire_electric = '<%= asset_path "fire_electric.jpg" %>';
  var sun_electric = '<%= asset_path "sun_electric.jpg" %>';
  var other_electric = '<%= asset_path "other_electric.png" %>';
  var geothermal_electric = '<%= asset_path "geothermal_electric.jpg" %>';
  var newclear_electric = '<%= asset_path "newclear_electric.png" %>';
  var water_electric = '<%= asset_path "water_electric.jpg" %>';
  var wind_electric = '<%= asset_path "wind_electric.jpg" %>';
  var nge48 = '<%= asset_path "nge48.png" %>';

</script>

<%= javascript_include_tag "supplier"%>