<div class="wrapper">
  <%= render "supplier/header" %>
  <%= render "supplier/sidemenu" %>
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-body supplier_list_area">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var hatakeyama = '<%= asset_path "hatakeyama.jpg" %>';
  var matsubara = '<%= asset_path "matsubara.jpg" %>';
  var no_image = '<%= asset_path "no_image.png" %>';
</script>

<%= javascript_include_tag "supplier"%>