<header class="main-header">
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">これから<b>EV</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">これから<b>EV</b>ドライブ（仮）</span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <%= render "common/chargeRemind" %>
        <%= render "common/loginUser" %>
      </ul>
    </div>
  </nav>
</header>
<input type="hidden" id="charging" value="<%= charging? %>">
<input type="hidden" id="chargeStartTime" value="<%= get_charge_start_time %>">
<input type="hidden" id="chargeRemainingMinute" value="<%= get_charge_remaining_minute %>">
<input type="hidden" id="chargeRemainingSecond" value="<%= get_charge_remaining_second %>">
<%= javascript_include_tag "common"%>
