<ul class="sidebar-menu tree" data-widget="tree">
  <li><%= link_to '供給者管理', suppliers_edit_path %></li>
  <li><%= link_to '共通管理', common_edit_path %></li>
  <li><%= link_to '電源種別管理', power_supply_types_edit_path %></li>
  <li><%= link_to 'クーポン管理', admin_coupon_path %></li>
  <li><%= link_to 'スポット管理', admin_spots_edit_path %></li>
  <li><%= link_to 'ユーザーログ管理', admin_userlog_path %></li>
</ul>
