<input type="hidden" id="destination" value="<%= @destination %>">
<input type="hidden" id="spot_lat" value="<%= @spot_lat %>">
<input type="hidden" id="spot_lon" value="<%= @spot_lon %>">

<div id="loader"></div>

<div class="row">
  <div class="col-xs-12" style="padding-right: 0px; padding-left: 0px;">
    <div id="map" style="width: 100vw; height: 100vh;"></div>
    <div class="col-xs-12" style="position: absolute; top: 5px;">
      <header class="main-header" style="margin-right: 0px;width: 15px;">
      <%# <header class="main-header"> %>
        <div class="input-group" >
          <span class="input-group-addon" style="padding-left: 6px;padding-right: 6px;padding-bottom: 3px;padding-top: 3px;width: 30px;height: 30px;border-top-width: 0px;border-bottom-width: 0px;">
            <span class="fa fa-bars fa-lg" data-toggle="push-menu" style="padding: 0px; "></span>
          </span>
          <%# <span id="distance" style="font-size:36px;padding-right:10px;"></span> %>
          <%# <input id="destination_text" type="text" class="form-control input-lg">
          <span class="input-group-addon">
            <span id="destination_search" class="glyphicon glyphicon-search"></span>
          </span> %>
        </div>
      </header>
    </div>

    <div class="routeInfo card card-success" style="position: absolute; right: 20px; bottom: 60px; margin:0px; display: none;">
      <table class="h4 text-bold bg-success" style="margin:0px;">
        <tr>
          <td>必要充電回数：</td>
          <td><span id="numberOfTimes">99</span></td>
        </tr>
        <tr>
          <td>到着予定時刻：</td>
          <td><span id="estimateTime">99:99</span></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<%= render partial: "modal" %>
<%= render partial: "reserve_ok" %>

<script>
  var iconEmpty = '<%= asset_path "empty.png" %>';
  var iconFull = '<%= asset_path "full.png" %>';
  var iconNotAvailable = '<%= asset_path "not_available.png" %>';
  var iconToilet = '<%= asset_path "toilet.png" %>';
  var iconSmokingArea = '<%= asset_path "smoking_area.png" %>';
  var iconRapidCharge = '<%= asset_path "rapid_charge.png" %>';
  var iconNormalCharge = '<%= asset_path "normal_charge.png" %>';
  var iconCafe = '<%= asset_path "cafe.png" %>';
  var iconRestaurant = '<%= asset_path "restaurant.png" %>';
  var iconShopping = '<%= asset_path "shopping.png" %>';
  var iconPlaySpace = '<%= asset_path "play_space.png" %>';
  var iconNursingRoom = '<%= asset_path "nursing_room.png" %>';
  var iconSightseeing = '<%= asset_path "sightseeing.png" %>';
  var pageCoupon = '<%= coupon_path  %>';
  var spotInfoZoom = false;
  <% if params[:spotinfo_zoom] == "true" %>
    spotInfoZoom = true;
  <% end %>

  function myFunction() {
    var url = "/detail";
    var $postData;
    var $form = $('<form />', {
    action: url,
    method: 'get'
    });
    $postData = $('<input />', {type: 'hidden', name: 'coupon_id', value: document.getElementById("coupon_id").value});
    $form.append($postData);
    $postData = $('<input />', {type: 'hidden', name: 'spot_id', value: document.getElementById("spot_id").value});
    $form.append($postData);
    $postData = $('<input />', {type: 'hidden', name: 'supplier_id', value: document.getElementById("supplier_id").value});
    $form.append($postData);
    $("body").append($form);
    $form.submit();
  }
</script>
