<input type="hidden" id="destination" value="<%= @destination %>">
<input type="hidden" id="spot_lat" value="<%= @spot_lat %>">
<input type="hidden" id="spot_lon" value="<%= @spot_lon %>">

<div id="loader"></div>

<div class="row">
  <div class="col-xs-12" style="padding-right: 0px; padding-left: 0px;">
    <div id="map" style="width: 100vw;"></div>
    <% if params[:show_spot_list] == 'on' %>
      <div id="spot_list_area">
      </div>
    <% end %>
    <div class="col-xs-12" style="position: absolute; top: 5px;">
      <header class="main-header" style="margin-right: 0px;width: 15px;">
        <div class="input-group" >
          <span class="input-group-addon" style="padding-left: 6px;padding-right: 6px;padding-bottom: 3px;padding-top: 3px;width: 30px;height: 30px;border-top-width: 0px;border-bottom-width: 0px;">
            <span class="fa fa-bars fa-lg" data-toggle="push-menu" style="padding: 0px; "></span>
          </span>
        </div>
      </header>
    </div>

    <div style="position: absolute; right: 10px; bottom: 50px; margin:0px 0px 10px 0px;">
      <button type="button" class="currentPlace" style="border-left-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-top-width: 0px;padding-left: 2px;padding-right: 2px;padding-bottom: 2px;padding-top: 2px;">
        <img id="getCurrentPlace" style="width: 30px;height: 30px;" src='<%= asset_path 'currentPlace.png' %>' alt="">
      </button>
    </div>

    <div class="routeInfo card card-success" style="position: absolute; right: 50px; bottom: 60px; margin:0px; display: none;">
      <table class="h4 text-bold bg-success" style="margin:0px;">
        <tr style="display: block;" height="25">
          <td>必要充電回数：</td>
          <td><span id="numberOfTimes">99</span></td>
        </tr>
        <tr class="stopover1" style="display: none;">
          <td>経由地１到着予定時刻：</td>
          <td><span id="estimateTimeStopover1">99:99</span></td>
        </tr>
        <tr class="stopover2" style="display: none;">
          <td>経由地２到着予定時刻：</td>
          <td><span id="estimateTimeStopover2">99:99</span></td>
        </tr>
        <tr class="stopover3" style="display: none;">
          <td>経由地３到着予定時刻：</td>
          <td><span id="estimateTimeStopover3">99:99</span></td>
        </tr>
        <tr style="display: block;">
        <td>到着予定時刻：</td>
        <td><span id="estimateTime">99:99</span></td>
      </tr>
      </table>
    </div>

  </div>
</div>

<%= render "common/modal_reservation" %>
<%= render "common/reservation_ok" %>

<script>
  var iconEmpty = '<%= asset_path "empty.png" %>';
  var iconFull = '<%= asset_path "full.png" %>';
  var iconNotAvailable = '<%= asset_path "not_available.png" %>';
  var iconToilet = '<%= asset_path "toilet.png" %>';
  var iconToiletDisabled = '<%= asset_path "toilet_disabled.png" %>';
  var iconSmokingArea = '<%= asset_path "smoking_area.png" %>';
  var iconSmokingAreaDisabled = '<%= asset_path "smoking_area_disabled.png" %>';
  var iconRapidCharge = '<%= asset_path "rapid_charge.png" %>';
  var iconRapidChargeDisabled = '<%= asset_path "rapid_charge_disabled.png" %>';
  var iconNormalCharge = '<%= asset_path "normal_charge.png" %>';
  var iconNormalChargeDisabled = '<%= asset_path "normal_charge_disabled.png" %>';
  var iconCafe = '<%= asset_path "cafe.png" %>';
  var iconCafeDisabled = '<%= asset_path "cafe_disabled.png" %>';
  var iconRestaurant = '<%= asset_path "restaurant.png" %>';
  var iconRestaurantDisabled = '<%= asset_path "restaurant_disabled.png" %>';
  var iconShopping = '<%= asset_path "shopping.png" %>';
  var iconShoppingDisabled = '<%= asset_path "shopping_disabled.png" %>';
  var iconPlaySpace = '<%= asset_path "play_space.png" %>';
  var iconPlaySpaceDisabled = '<%= asset_path "play_space_disabled.png" %>';
  var iconNursingRoom = '<%= asset_path "nursing_room.png" %>';
  var iconNursingRoomDisabled = '<%= asset_path "nursing_room_disabled.png" %>';
  var iconSightseeing = '<%= asset_path "sightseeing.png" %>';
  var iconSightseeingDisabled = '<%= asset_path "sightseeing_disabled.png" %>';
  var spotInfoZoom = false;
  <% if params[:spotinfo_zoom] == "true" || params[:show_spot_list] == "on" %>
    spotInfoZoom = true;
  <% end %>

  function myFunction() {
    var url = "/detail";
    var $postData;
    var $form = $('<form />', {
    action: url,
    method: 'get'
    });
    $postData = $('<input />', {type: 'hidden', name: 'coupon_id', value: document.getElementById("coupon_id").value});
    $form.append($postData);
    $postData = $('<input />', {type: 'hidden', name: 'spot_id', value: document.getElementById("spot_id").value});
    $form.append($postData);
    $postData = $('<input />', {type: 'hidden', name: 'supplier_id', value: document.getElementById("supplier_id").value});
    $form.append($postData);
    $("body").append($form);
    $form.submit();
  }
</script>
<style>
.spot_baloon .col-xs-9,
.spot_baloon .col-xs-8,
.spot_baloon .col-xs-4,
.spot_baloon .col-xs-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.spot_baloon .spot_charge_types img {
  width: 20px;
  height: 20px;
}
.spot_baloon .spot_facilities img {
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}
#spot_list_area {
  height: 20vh;
  overflow-y: scroll;
  background: white;
}
.spot_info {
  border-radius: 5px;
  border: 1px solid #515151;
  border-bottom: 0px none;
  background: #6eec96;
}
a .spot_info {
  text-decoration: none;
  color: #515151;
}
.spot_info .col-xs-3 {
  border-left: 2px dotted #515151;
  min-height: 63px;
}
</style>