<div class="wrapper">
  <%= render "map/sidemenu" %>
  <%= render "map/search_failed" %>
  <div class="content-wrapper">
    <section class="container-fluid">
      <%= render "map/main" %>
    </section>
  </div>
</div>

<%= javascript_include_tag "mapvisual_silver" %>
<%= javascript_include_tag "location" %>
<%= javascript_include_tag "map" %>
<%= javascript_include_tag "map_spot_search" %>
<%= javascript_include_tag "map_route_search" %>
<%= javascript_include_tag "common"%>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyCCJ7asAsYkKB9_tgOqwQESsqKEPMf1vRc"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<input type="hidden" id="charging" value="<%= charging? %>">
<input type="hidden" id="chargeRemainingMinute" value="<%= get_charge_remaining_minute %>">
<input type="hidden" id="chargeRemainingSecond" value="<%= get_charge_remaining_second %>">